<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Fraud Analysis</title>

		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="56x56" href="images/fav-icon/icon.png">


		<!-- Main style sheet -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<!-- responsive style sheet -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">


		<!-- Fix Internet Explorer ______________________________________-->

		<!--[if lt IE 9]>
			<script src="{% static 'http://html5shiv.googlecode.com/svn/trunk/html5.js' %}"></script>
			<script src="{% static 'vendor/html5shiv.js' %}"></script>
			<script src="{% static 'vendor/respond.js' %}"></script>
		<![endif]-->
			
	</head>

	<body>
		<div class="main-page-wrapper">



			<!--
			=====================================================
				Theme Main SLider
			=====================================================
			-->
			<div id="home" class="banner">
	        	<div class="rev_slider_wrapper">
					<!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
						<div id="main-banner-slider" class="rev_slider video-slider" data-version="5.0.7">
							<ul>

								<!-- SLIDE1  -->
								<li data-index="rs-280" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default"  data-title="" data-description="">
									<!-- MAIN IMAGE -->
									<img src="{% static 'images/home/bg.jpeg' %}"  alt="image" class="rev-slidebg" data-bgparallax="3" data-bgposition="center center" data-duration="20000" data-ease="Linear.easeNone" data-kenburns="on" data-no-retina="" data-offsetend="0 0" data-offsetstart="0 0" data-rotateend="0" data-rotatestart="0" data-scaleend="100" data-scalestart="140">
									<!-- LAYERS -->

									<!-- LAYER NR. 1 -->
									<div class="tp-caption" 
										data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
										data-y="['middle','middle','middle','middle']" data-voffset="['-58','-58','0','-50']" 
										data-width="none"
										data-height="none"
										data-whitespace="nowrap"
										data-transform_idle="o:1;"
							 
										data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
										data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
										data-mask_in="x:0px;y:[100%];" 
										data-mask_out="x:inherit;y:inherit;" 
										data-start="1000" 
										data-splitin="none" 
										data-splitout="none" 
										data-responsive_offset="on" 
										style="z-index: 6; white-space: nowrap;">
										<h1>Fraudulent Analysis</h1>
									</div>

									<!-- LAYER NR. 2 -->
									<div class="tp-caption" 
										data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
										data-y="['middle','middle','middle','middle']" data-voffset="['-05','-05','63','0']"
										data-width="none"
										data-height="none"
										data-whitespace="nowrap"
										data-transform_idle="o:1;"
							 
										data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
										data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
										data-mask_in="x:0px;y:[100%];" 
										data-mask_out="x:inherit;y:inherit;" 
										data-start="2000" 
										data-splitin="none" 
										data-splitout="none" 
										data-responsive_offset="on" 
										style="z-index: 6; white-space: nowrap;">
										<h6>Developed by BJP</h6>
									</div>


									<!-- LAYER NR. 3 -->
									<div class="tp-caption"
										data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
										data-y="['middle','middle','middle','middle']" data-voffset="['52','52','125','80']"
										data-transform_idle="o:1;"
							 
										data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
										data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
										data-mask_in="x:0px;y:[100%];" 
										data-mask_out="x:inherit;y:inherit;" 
										data-start="3000" 
										data-splitin="none" 
										data-splitout="none" 
										data-responsive_offset="on">
										<a href="charts" class="project-button hvr-bounce-to-right">Get Started</a>
									</div>
								
								</li>


							</ul>	
						</div>
					</div><!-- END REVOLUTION SLIDER -->
	        </div> <!--  /#banner -->



	       
			
			



			<!-- =============================================
				Loading Transition
			============================================== -->
			<div id="loader-wrapper">
				<div id="preloader_1">
	                <span></span>
	                <span></span>
	                <span></span>
	                <span></span>
	                <span></span>
	            </div>
			</div>

			
	        




		<!-- Js File_________________________________ -->

		<!-- j Query -->
		<script type="text/javascript" src="{% static 'vendor/jquery.2.2.3.min.js' %}"></script>

		<!-- Bootstrap JS -->
		<script type="text/javascript" src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>

		<!-- Vendor js _________ -->
		
		<!-- revolution -->
		<script src="{% static 'vendor/revolution/jquery.themepunch.tools.min.js' %}"></script>
		<script src="{% static 'vendor/revolution/jquery.themepunch.revolution.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendor/revolution/revolution.extension.slideanims.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendor/revolution/revolution.extension.layeranimation.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendor/revolution/revolution.extension.navigation.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendor/revolution/revolution.extension.kenburn.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendor/revolution/revolution.extension.actions.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendor/revolution/revolution.extension.video.min.js' %}"></script>

		<!-- Google map js -->
		<script async defer src="{% static 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBZ8VrXgGZ3QSC-0XubNhuB2uKKCwqVaD0&callback=goMap' %}" type="text/javascript"></script> <!-- Gmap Helper -->
		<script src="{% static 'vendor/gmaps.min.js' %}"></script>
		<!-- owl.carousel -->
		<script type="text/javascript" src="{% static 'vendor/owl-carousel/owl.carousel.min.js' %}"></script>
		<!-- mixitUp -->
		<script type="text/javascript" src="{% static 'vendor/jquery.mixitup.min.js' %}"></script>
		<!-- Progress Bar js -->
		<script type="text/javascript" src="{% static 'vendor/skills-master/jquery.skills.js' %}"></script>
		<!-- Validation -->
		<script type="text/javascript" src="{% static 'vendor/contact-form/validate.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendor/contact-form/jquery.form.js' %}"></script>


		<!-- Theme js -->
		<script type="text/javascript" src="{% static 'js/theme.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/map-script.js' %}"></script>

		</div> <!-- /.main-page-wrapper -->
	</body>
</html>